.totalBackGround{
    background: whitesmoke;
    color: #333333;
}
.divCvFoto{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.divTekst{
    margin-top: 60px;
    max-width: 400px;
    text-align: center;
}
.cvfoto{
    max-height: 300px;
    margin-bottom: 40px;
    margin-left: -140px;
    margin-right: 100px;
}
.cvfoto:hover {
    box-shadow: 10px 10px #333333;
}
.cvfoto:active {
    border: solid #333333 2px;
    box-shadow: none;
}
.divSeperation{
    height: 10px;
    margin-left: 25%;
    background-color: #333333;
    box-sizing: border-box;
    border-right: none;
    border-left: none;
}
.divInfo{
    display: flex;
}
.divleft{
    max-width: 25%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pleft1{
    margin-top: 200px;
    font-size: 30px;
    font-weight: bold;
 }
.divVerticalSeperation{
    box-sizing: border-box;
    width: 1%;
    background-color: #333333;
}
.divRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 74%;
}
table, th, td{
    border: solid black;
    border-collapse: collapse;
    font-size: 18px;
    padding: 0 75px;
    text-align: center;
    margin: 5px;
    color: whitesmoke;
}

table{
    background-color: #333333;
    box-shadow: 10px 10px #333333;
}
.divTable{
    height: 300px;
    margin-top: 150px
}
.pleft2{
    margin-top: 370px;
    font-size: 30px;
    font-weight: bold;
}
.divList{
    display: flex;
    flex-direction: column;
    align-items: center;
}
tbody tr:nth-child(even){
    font-weight: bolder;
    background-color: #222222;
}
ul{
    list-style: disc;
}
.pleft3{
    margin-top: 310px;
    font-size: 30px;
    font-weight: bold;
}
.divDiploma{
    margin: 50px 0;
}
.pleft4{
    margin-top: 340px;
    font-size: 30px;
    font-weight: bold;
}
.divSeperarationbottom{
    height: 10px;
    background-color: black;
    border-right: none;
    border-left: none;
    margin-bottom: 20px;
}
.divFooter{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
footer{
    position: fixed;
    background-color: black;
    bottom: 0;
    width: 100%;
    color: white;
    margin-left: -8px;
}
.terugNaarBovenKnop{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
    margin-top: 10px;
}
a:visited {
    text-decoration: none;
}
.divJobDoelstelling{
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pJobDoelstelling{
    max-width: 500px;
    text-align: center;
}
.aVCSTPunch:link{
    color: blue;
}
.aVCSTPunch:visited{
    color: blue;
}
.aVCSTPunch:hover{
    color: #333333;
}
.lilang{
    max-width: 350px;
}
.divSoftSkills{
    margin-top: 100px;
    margin-bottom: 70px;
}
.divNavBar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    max-height: 60px;
    width: 100%;
    color: #333333;
}
.divNavigatieBox{
    display: flex;
    margin-right: 20px;
    height: 60px;
    align-items: center;
}
.divNavigatie{
    padding: 20px 30px;
    font-weight: bold;
}
.divNavigatie:link{
    text-decoration: none;
    color: #333333;
}
.divNavigatie:hover{
    border-bottom: black solid;
}
.divNavigatie:visited{
    color: #333333;
}
.divNaam{
    background-color: #111111;
    margin-left: 60px;
    text-align: center;
    padding: 5px;
    width: 90px;
    height: 76px;
    box-shadow: 5px 5px black;
}
.pNaam:link{
    text-decoration: none;
    color: whitesmoke;
}
.pNaam:visited {
    color: whitesmoke;
}
.divNaam:hover {
    border-bottom: black solid;
}
.divFotogegevens{
    display: flex;
}
.divGegevensFoto{
    padding: 5px;
    margin-left: 50px;
    margin-top: 50px;
}
.h1Benji{
    margin-top: 200px;
    text-align: center;
}
.pSkills{
    display: none;
}
.listSkills{
    display: none;
}
@media screen and (max-width: 1550px){
    .divCvFoto{
        flex-direction: column;
        margin-top: 5px;
        align-items: center;
    }
    .divFotogegevens{
        flex-direction: column;
        justify-content: center;
    }
    .cvfoto{
        margin-left: 0;
        margin-right: 0;
    }
    .linkFoto{
        display: flex;
        justify-content: center;
    }
    .divVerticalSeperation{
        display: none;
    }
    .divSeperation{
        margin-left: 0;
    }
}
@media screen and (max-width: 800px){
    .divleft{
        display: none;
    }
    .pSkills{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
    }
    .divRight{
        min-width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .divNavBar{
        display: none;
    }
    .h1Benji{
        margin-top: 0;
    }
}
@media screen and (max-width: 480px) {
    table{
        display: none;
    }
    .listSkills{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}