.totalBackGround{
    background: #222222;
}
.divCvFoto{
    display: flex;
    justify-content: center;
}
.cvfoto{
    margin: 20px;
    max-height: 200px;
}
.cvfoto:hover {
    box-shadow: 10px 10px;
}
.cvfoto:active {
    border: solid red 2px;
    box-shadow: none;
}
.divSeperation{
    height: 20px;
    background-color: gold;
    box-sizing: border-box;
    border-right: none;
    border-left: none;
}
.divInfo{
    display: flex;
}
.divleft{
    max-width: 25%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pleft1{
     margin-top: 140px;
     font-size: 30px;
     font-weight: bold;
 }
.divVerticalSeperation{
    box-sizing: border-box;
    width: 2%;
    background-color: gold;
}
.divRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 73%;
}
table, th, td{
    border: solid black;
    border-collapse: collapse;
    font-size: 18px;
    padding: 0 75px;
    text-align: center;
    margin: 5px;
}
table{
    background-color: #333333;
}
.divTable{
    height: 300px;
    margin-top: 50px
}
.pleft2{
    margin-top: 390px;
    font-size: 30px;
    font-weight: bold;
}
.divList{
    display: flex;
    flex-direction: column;
    align-items: center;
}
tbody tr:nth-child(even){
    font-weight: bolder;
    background-color: #222222;
}
ul{
    list-style: disc;
}
.pleft3{
    margin-top: 310px;
    font-size: 30px;
    font-weight: bold;
}
.divDiploma{
    margin: 50px 0;
}
.divSeperarationbottom{
    height: 20px;
    background-color: gold;
    border-right: none;
    border-left: none;
    margin-bottom: 20px;
}
.divFooter{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
footer{
    position: fixed;
    background-color: black;
    bottom: 0;
    width: 100%;
    color: white;
    margin-left: -8px;
}
.terugNaarBovenKnop{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
    margin-top: 10px;
}
a:visited {
    text-decoration: none;
}
.divJobDoelstelling{
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pJobDoelstelling{
    max-width: 500px;
    text-align: center;
}
.aVCSTPunch:link{
    color: blue;
}
.aVCSTPunch:visited{
    color: blue;
}
.aVCSTPunch:hover{
    color: white;
}

